head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content="Portfolio project in 'Responsive Web Design' course of freeCodeCamp.org")
  title="Portfolio to present HTML and CSS skills for 'Responsive Web Design'"
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&family=Source+Code+Pro&display=swap' rel='stylesheet')
  // link(rel='stylesheet' href='/node_modules/modern-normalize.css/modern-normalize.css')
  link(rel='stylesheet' href='styles.css')
  link(rel='icon' href='image/repair-bicycle-14-svgrepo-com.svg' type='image/svg+xml')
//  link(rel="icon" class="fabicon" type="image/png" href="image/bike-16x16.png" sizes="16x16")