- var author = "MKN,Yskz";
include mixin.pug
doctype html
html(lang="en")
  include head.pug
  body
    header#header.fixed-item
      nav#navbar
        a(href='#') Home
          span(lang='ja') ページトップ
        a(href='#a-2') Projects
          span(lang='ja') 課題
        a(href='#a-3') Contact
          span(lang='ja') 連絡先
    main
      section#welcome-section
        a#a-1.anchor
        h1
          | Welcome to my portfolio page of 
          em #{author}
          br
          span(lang='ja') 私のポートフォリオ(技能紹介)ページへようこそ
        h2 Self-training to become a web document(HTML/CSS/JS) coder
          br
          span(lang='ja') ホームページ文書作成業を目指して独学中です

      section#projects
        a#a-2.anchor
        h2 These are my projects
          span(lang='ja') 以下が私の制作物です&darr;
        .project-tile
          article#project-1.project
            h3 Tribute Page
              span(lang='ja') 偉人の業績紹介ページ
            iframe.codepen-iframe(scrolling='no' title='Tribute Page' src='https://codepen.io/yasukazu/embed/GRGjvEv?default-tab=html%2Cresult' frameborder='no' loading='lazy' allowtransparency='true' allowfullscreen='true')
              | See the Pen 
              a(href='https://codepen.io/yasukazu/pen/GRGjvEv')
                | Tribute Page
              |  by Yasukazu Makino (
              a(href='https://codepen.io/yasukazu') @yasukazu
              | )
              |                         on 
              a(href='https://codepen.io') CodePen
              | .
          article#project-2.project
            h3 Technical Documentation
              span(lang='ja') 技術説明文書
            iframe.codepen-iframe(scrolling='no' title='Technical Documentation' src='https://codepen.io/yasukazu/embed/QWxKqmw?default-tab=html%2Cresult' frameborder='no' loading='lazy' allowtransparency='true' allowfullscreen='true')
              | See the Pen 
              a(href='https://codepen.io/yasukazu/pen/QWxKqmw')
              | Technical Documentation
              |  by Yasukazu Makino (
              a(href='https://codepen.io/yasukazu') @yasukazu
              | )
              |   on 
              a(href='https://codepen.io') CodePen
              | .

          article#project-3.project
            h3 Product Landing Page
              span(lang='ja') 製品紹介ページ
            iframe.codepen-iframe(height='300' style='width: 100%;' scrolling='no' title='Product Landing Page' src='https://codepen.io/yasukazu/embed/rNKMYLJ?default-tab=html%2Cresult' frameborder='no' loading='lazy' allowtransparency='true' allowfullscreen='true')
              | See the Pen 
              a(href='https://codepen.io/yasukazu/pen/rNKMYLJ')
                | Product Landing Page
              |  by Yasukazu Makino (
              a(href='https://codepen.io/yasukazu') @yasukazu
              | )
              |                         on 
              a(href='https://codepen.io') CodePen
              | .
      section#contact-section
        a#a-3.anchor
        h2 Please consider my skill might help your work!
          span(lang='ja') お仕事のお役に立てることを期待します
        ul.social-icons
            li
              a.profile-link(href='https://github.com/yasukazu/portfolio/' target='_blank' rel='noopener')
                | The source code repository of this Page
                span(lang='ja') ソースコードのリポジトリ
                | @
                b GitHub
                i(class="fa-brands fa-github")
                +external_link_svg()(class='svg-social' stroke='#ddf')
            li
              a.profile-link(href='https://www.freecodecamp.org/japanese/certification/yasukazu-makino/responsive-web-design')
                | The certification of &apos;New Responsive Web Design(acquired at #[time(datetime='2022-11-06') 2022 Nov 6])&apos;
                span(lang='ja') フリーコードキャンプの「(新)レスポンシブウェブデザイン」( #[time(datetime='2022-11-06') 2022年11月6日]取得)修了証
                | @
                b freeCodeCamp
                i(class="fa-brands fa-free-code-camp")

            li 
              address
                a.profile-link(href='https://www.linkedin.com/in/yasukazu-makino/')
                  | profile page #[small You can see my profile if you sign-in to LinkedIn]
                  span(lang='ja') リンクトインのプロファイルページ #[small リンクトインにサインインすると私のプロフィールがご覧になれます]
                  | @
                  b LinkedIn
                  i(class="fa-brands fa-linkedin")
                  +external_link_svg()(class='svg-social' stroke='#ddf')

    footer   
      h2 **This is a portfolio page to show web page skills
        span(lang='ja') これはウェブページ制作技能を提示するための制作物一覧ページです
      ul.notices
        li
          | Every article in projects here is not provided for real knowlege base.
          span(lang='ja') 各制作物はウェブページ制作技能を示すために作られているため，その内容の適切さは不十分である可能性があります。
          svg.svg-footer-head(stroke='#f77' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
            path(d='M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.31 7.526c-.099-.807.528-1.526 1.348-1.526.771 0 1.377.676 1.28 1.451l-.757 6.053c-.035.283-.276.496-.561.496s-.526-.213-.562-.496l-.748-5.978zm1.31 10.724c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z')
        li
          | Originally created for a project in &quot;New Responsive Web Design( #[time(datetime='2022') 2022])&quot; course of
          span(lang='ja') 元はフリーコードキャンプの「新レスポンシブウェブデザイン(2022)」コースの課題のために制作されました。
          a(href='https://www.freecodecamp.org/learn/2022/responsive-web-design/', target='_blank', rel='noopener')
            b freeCodeCamp.org
            +external_link_svg()(class='svg-footer' stroke='#7ff')

    script(defer='' src='./fontawesome-6/js/brands.js')
    script(defer='' src='./fontawesome-6/js/solid.js')
    script(defer='' src='./fontawesome-6/js/fontawesome.js')

