@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';
*,
::before,
::after {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}
:root {
	--header-bgcolor: rgba(199, 0, 57, 0.5);
	--hdr-h: 4rem;
	--welcome-bgcolor: black;
	--welcome-color: white;
	--projects-blue: #45567d;
	--main-bgcolor: rgb(82, 81, 81);
}
body {
	scroll-padding-top: var(--hdr-h);
	font-family: 'Noto Serif JP', serif;
	font-size: 16px;
	background-color: var(--main-bgcolor);
	color: white;
	padding: 0.5em 1em;
	line-height: normal;//1.5;
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Noto Sans JP', sans-serif;
	}
}
a {
	text-decoration: dashed underline blue;
	text-underline-offset: 0.3ex;
	b {
		margin: 0 1em;
		text-underline-offset: 0.5ex;
	}
}		

a[href^="#"]:after {
	content: '↘';
	font-weight: bold;
	font-size: smaller;
	color: #77f;
}

/*
a[href^="http"]:after, a[href^="//"]:after {
	// font-weight: bold;
	// font-size: smaller;
	// color: #77f;
	//content: '↗';
	margin-left: 0.2em;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' fill-rule='evenodd' stroke-width='3' clip-rule='evenodd'%3E%3Cpath d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}*/

nav a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans JP', sans-serif;
}

ul.social-icons {
	padding-left: 1em;
   li {
	  padding-left: 0em;
	  margin-left: 0em;
   }
}


footer {
	color: #f0f;
	background-color: #030;
	font-size: 1rem;
	line-height: normal;//1.2em;
	* {
		margin: 0.5em 1em;
		text-align: left;
	}
	li {
	  font-size: 1em;
	}
	a {
		text-decoration: dashed underline #77f;
		text-underline-offset: 0.5ex;
		font-size: 1em;
		margin-left: 0em;
		margin-right: 0em;
	}
    svg {
		margin-left: 0em;
		margin-right: 0em;
	}
	/*
	a:after {
	  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23770077' fill-rule='evenodd' stroke-width='3' clip-rule='evenodd'%3E%3Cpath d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z'/%3E%3C/svg%3E");
	  content: '';
	  margin-left: 0.2em;
	  display: inline-block;
	  width: 0.8em;
	  height: 0.8em;
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: center;
	} */
	p {
		word-break: normal;
	}
}
nav a span {
    font-size: smaller;
}
	span[lang]:before {
		content: ' (';
	}
	span[lang]:after {
		content: ') ';
	}
article h3 {
	span {
		font-size: smaller;
	}
	span:before {
		content: '(';
	}
	span:after {
		content: ') ';
	}
}
header {
	&#header {
		background-color: var(--header-bgcolor);
		height: var(--hdr-h);
		width: 100%;
	}
	nav#navbar {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;
		width: 100%;
		height: var(--hdr-h);
	}

	a {
		border: thin solid green;
		border-radius: 0.3em;
		box-shadow: 5px 10px #1e1e1e;
		font-size: x-large;
		display: block;
		color: white;
		text-align: center;
		margin: 0 1rem;
	}
}

main {
	padding-top: var(--hdr-h);
	& > section {
		scroll-margin-top: var(--hdr-h);
	}
}

section {
	height: auto;
	display: block;
	&:nth-of-type(2) {
		background-color: var(--projects-blue);
	}
	article {
		background-color: var(--main-bgcolor);
	}
	h2 {
		font-size: 1.2rem;
	}
}
#welcome-section {
	p {
		color: red;
		font-size: x-large;
		font-weight: 100;
		font-style: italic;
		text-align: center;
	}
}
h1 {
	font-size: 1.5rem;
	text-align: center;
	margin: 0.5rem 0 1rem 0;
}
h2 {
	font-size: 1.2rem;
	line-height: normal;//1.6;
	margin: 0.5em 0 1em 0;
}
.fixed-item {
	position: fixed;
	top: 0;
	z-index: 999;
}

article {
	width: 90%;
	margin: 0 0 2rem auto;
	h3 {
		&:after {
			content: ":";
		}
	}
}
.codepen-iframe {
	display: block;
	height: 65vh;
	width: 100%;
	margin: 2rem 0;
}
div {
	&.social-icons {
		margin: 0 0 0 1rem;
	}
}
i {
	&.fab {
		margin: 0 1em 0 1em;
	}
	&.fa-brands {
		margin-left: 0.5em;
		margin-right: 0.5em;
		border: medium dashed pink;
		font-size: larger;
	}
}
h2 span {
	font-size: smaller;
}

ul > li {
	list-style: disc;
}

ul.social-icons b {
	margin-left: 0.5em;
	margin-right: 0.5em;
}


svg {
	display: inline-block;
	vertical-align: middle;
}
.svg-footer {
	width: 1.2em;
	height: 1.2em;
}
.svg-footer-head {
	width: 1.2em;
	height: 1.2em;
}
.svg-social {
	width: 1em;
	height: 1em;
	vertical-align: baseline;
}

/* ul.social-icons a:after {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg class='svg-24' stroke='%237ff' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

} */

@media only screen and (max-width: 550px) {
	body {
        --hdr-h: 20vh;
	}
	#navbar {
    	height: var(--hdr-h);
    	flex-direction: column;
    	height: auto;
    	width: 100vw;
    	gap: 1rem 0;
	}
	#main {
		padding-top: calc(var(--hdr-h) * 1.6);
	}
}