@charset "UTF-8";
@import "https://unpkg.com/modern-css-reset/dist/reset.min.css";
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
*,
::before,
::after {
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

:root {
  --header-bgcolor: rgba(199, 0, 57, 0.5);
  --hdr-h: 4rem;
  --welcome-bgcolor: black;
  --welcome-color: white;
  --projects-blue: #45567d;
  --main-bgcolor: rgb(82, 81, 81);
  scroll-padding-top: var(--hdr-h);
  font-family: "Noto Serif JP", serif;
  background-color: var(--main-bgcolor);
  color: white;
  padding: 0.5rem;
}

a {
  text-decoration: dashed underline blue;
}

a[href^="#"]:after {
  content: "↘";
  font-weight: bold;
  font-size: smaller;
  color: #77f;
}

a[href^=http]:after, a[href^="//"]:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' fill-rule='evenodd' stroke-width='3' clip-rule='evenodd'%3E%3Cpath d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z'/%3E%3C/svg%3E");
  content: "";
  margin-left: 0.2em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

nav a, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans JP", sans-serif;
}

h2 {
  line-height: 1.2em;
}

a {
  text-underline-offset: 0.3ex;
}

footer {
  color: #7f007f;
  background-color: #030;
  font-size: 1rem;
  line-height: 1.2em;
}
footer * {
  margin: 0.5em 1em;
  text-align: left;
}
footer a, footer p {
  font-size: 80%;
}
footer a:after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill='%23770077' fill-rule='evenodd' stroke-width='3' clip-rule='evenodd'%3E%3Cpath d='M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z'/%3E%3C/svg%3E");
  content: "";
  margin-left: 0.2em;
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
footer p {
  word-break: normal;
}

nav a span {
  font-size: smaller;
}

span[lang]:before {
  content: "(";
}

span[lang]:after {
  content: ")";
}

article h3 span {
  font-size: smaller;
}
article h3 span:before {
  content: "(";
}
article h3 span:after {
  content: ") ";
}

header #header {
  background-color: var(--header-bgcolor);
  height: var(--hdr-h);
  width: 100%;
}
header nav#navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: var(--hdr-h);
}
header a {
  border: thin solid green;
  border-radius: 0.3em;
  box-shadow: 5px 10px #1e1e1e;
  font-size: x-large;
  display: block;
  color: white;
  text-align: center;
  margin: 0 1rem;
}

main {
  padding-top: var(--hdr-h);
}
main > section {
  scroll-margin-top: var(--hdr-h);
}

section {
  height: auto;
  display: block;
}
section:nth-of-type(2) {
  background-color: var(--projects-blue);
}
section article {
  background-color: var(--main-bgcolor);
}
section h2 {
  font-size: 1.2rem;
}

#welcome-section p {
  color: red;
  font-size: x-large;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: Raleway, sans-serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem 0 1rem 0;
}

h2 {
  font-size: 1.2em;
  margin: 0.5em 0 1em 0;
}

.fixed-item {
  position: fixed;
  top: 0;
  z-index: 999;
}

ul {
  list-style: none;
}

article {
  width: 90%;
  margin: 0 0 2rem auto;
}
article h3:after {
  content: ":";
}

.codepen-iframe {
  display: block;
  height: 65vh;
  width: 100%;
  margin: 2rem 0;
}

div.social-icons {
  margin: 0 0 0 1rem;
}

i.fab {
  margin: 0 1em 0 1em;
}

h2 span {
  font-size: smaller;
}

ul > li {
  list-style: disc;
}

.fab, .fa-brands {
  font-family: "Font Awesom 6 Brands";
  font-weight: 600;
}

@media only screen and (max-width: 550px) {
  body {
    --hdr-h: 20vh;
  }

  #navbar {
    height: var(--hdr-h);
    flex-direction: column;
    height: auto;
    width: 100vw;
    gap: 1rem 0;
  }

  #main {
    padding-top: calc(var(--hdr-h) * 1.6);
  }
}