@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*,
::before,
::after {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

:root {
    --header-bgcolor: rgba(199, 0, 57, 0.5);
    --hdr-h: 4rem;
    --welcome-bgcolor: black;
    --welcome-color: white;
}

html {
    scroll-padding-top: var(--hdr-h);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(35, 35, 35, 1);
    color: white;
}

#header {
    background-color: var(--header-bgcolor);
    height: var(--hdr-h);
    width: 100%;
}

main {
    padding-top: var(--hdr-h);
}

main>section {
    scroll-margin-top: var(--hdr-h);
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#navbar a {
    font-size: x-large;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 1rem;
}

section {
    border: medium dotted blue;
    height: calc(100vh - var(--hdr-h));
}

#welcome-section p {
    color: red;
    font-size: x-large;
    font-weight: 100;
    font-style: italic;
    text-align: center;
}

h1,
h2,
h3 {
    font-family: gothic;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 1em 0;
}

h2 {
    font-size: 1.6em;
    margin: 0.5em 0 1em 0;
}

.fixed-item {
    position: fixed;
    top: 0;
    z-index: 999;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--hdr-h);
}

ul {
    list-style: none;
}

article {
    width: 90%;
    margin: 0 0 2rem auto;
}

article h3:after {
    content: ":";
}

.codepen-iframe {
    display: block;
    height: 50vh;
    width: 100%;
}

footer {
    background-color: rgba(205, 205, 205, 1);
    text-align: right;
}

footer * {
    margin: 0.5em 1em;
}

@media only screen and (max-width: 550px) {
    body {
        --hdr-h: 20vh;
    }

    #navbar {
        height: var(--hdr-h);
        flex-direction: column;
        height: auto;
        width: 100vw;
        gap: 1rem 0;
    }

    #main {
        /* margin-top: -var(--hdr-h); */
        padding-top: calc(var(--hdr-h) * 1.6);
    }

    #logo-company {
        width: 100%;
        height: calc(var(--hdr-h) / 2);
    }

    #sec-link {
        height: var(--hdr-h);
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: calc(var(--hdr-h) / 10) 0;
    }

    #header-img {
        width: 100%;
        height: 10vh;
        object-fit: cover;
    }

    legend {
        text-align: left;
    }

    #form fieldset {
        align-items: start;
    }

    .products {
        flex-direction: column;
        margin: 3vh 0;
        align-items: center;
        gap: 5vh 0;
    }
}